/* add css styles here (optional) */

.listview {
  display: block;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.loadingHint {
  height: 60px;
}

.loadingHint > div {
  text-align: center;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
